// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700');

header{
  width:100%;
  padding: 10px;
  text-align: center;
  background-color: #ABD372;
  font-size: 10px;
  -webkit-box-shadow: 0 2px 10px 5px #AD282A;
  box-shadow: 0 2px 10px 5px #AD282A;
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color:#fff;
    }
  }
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #CD393A;
}

.secao-geral{
  padding-top:50px;
}

.margem-top{margin-top:20px;}
.padding-topo{
    padding-top:50px;
}

.sobre {
  text-align: center;
  p{color:#F9F6EF;}
  h2{
    margin-top: 5px;
    color:#F9F6EF;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cta{
  a{
    padding:10px;
  }
}

.margem-bottom{
  margin-top: 60px;
  margin-bottom:20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid #ABD372;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius:0px;
    box-shadow: 0;
}

.btn-default{
  -webkit-box-shadow: 0 2px 10px 5px rgba(173,40,42,0.5);
  box-shadow: 0 2px 10px 5px rgba(173,40,42,0.5);
  &:hover{
    color: #fff;
    background-color: #E8611E;
    border-color: #E8611E;
  }
}

@media screen and (max-width: 767px) {
  section{padding:5px 20px;}
  .margem-bottom{
    margin-top: 10px;
  }
  .btn-default {
    width: 100%;
  }
}
